<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.family.coast.mapper.CoastItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.family.coast.entity.CoastItem">
        <id column="idcoast_item" property="idcoastItem" />
        <result column="coast_name" property="coastName" />
        <result column="coast_type" property="coastType" />
        <result column="create_time" property="createTime" />
        <result column="creator_id" property="creatorId" />
        <result column="update_time" property="updateTime" />
        <result column="updator_id" property="updatorId" />
        <result column="is_delete" property="isDelete" />
    </resultMap>
    <select id="getAllItem" resultMap="BaseResultMap">
        select idcoast_item,coast_name,coast_type from coast_item
    </select>
</mapper>
